body {
  margin: 0;
  line-height: normal;
}
.rectangle-div24,
.rectangle-div25,
.rectangle-div26 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #78be20;
  width: 1366px;
  height: 768px;
}
.rectangle-div25,
.rectangle-div26 {
  background-color: #fff;
  height: 63px;
}
.rectangle-div26 {
  top: 12px;
  left: 228px;
  border-radius: 20px;
  background-color: #d9d9d9;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 1094px;
  height: 38px;
}
.httpsteam-cloudafpabnbr-div3 {
  position: absolute;
  top: 16px;
  left: 244px;
  display: inline-block;
  width: 706px;
  height: 30px;
}
.rectangle-div27 {
  position: absolute;
  top: 63px;
  left: 0;
  background-color: #78be20;
  width: 1366px;
  height: 100px;
}
.formation-p3 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.formation-div5,
.temoignages-div2 {
  position: absolute;
  top: 99px;
  display: inline-block;
  cursor: pointer;
}
.formation-div5 {
  left: 477px;
  color: #fff;
}
.temoignages-div2 {
  left: 720px;
}
.nos-references-div3 {
  position: absolute;
  top: 105px;
  left: 964px;
  color: #fff;
  display: inline-block;
}
.rectangle-div28 {
  position: absolute;
  top: 163px;
  left: 0;
  background-color: #fff;
  width: 1366px;
  height: 99px;
}
.ces-entreprises-nous-ont-fait {
  position: absolute;
  top: 189px;
  left: 350px;
  font-size: 36px;
  display: inline-block;
  width: 667px;
  height: 46px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.rectangle-div29,
.rectangle-div30,
.rectangle-div31,
.rectangle-div32 {
  position: absolute;
  top: 362px;
  left: 206.8px;
  background-color: #fff;
  width: 209.71px;
  height: 211.29px;
  transform: rotate(45.15deg);
  transform-origin: 0 0;
}
.rectangle-div30,
.rectangle-div31,
.rectangle-div32 {
  left: 1203.8px;
}
.rectangle-div31,
.rectangle-div32 {
  left: 868.8px;
}
.rectangle-div32 {
  left: 545.8px;
}
.logo-wizy-1-icon {
  position: absolute;
  top: 411px;
  left: 1117px;
  width: 175px;
  height: 202px;
  object-fit: cover;
  mix-blend-mode: darken;
  cursor: pointer;
}
.logo-akka-1-icon {
  top: 420px;
  left: 114px;
  border-radius: 22px;
  width: 184px;
  height: 183px;
}
.logo-accenture-1-icon,
.logo-akka-1-icon,
.logo-altran-1-icon {
  position: absolute;
  object-fit: cover;
  mix-blend-mode: darken;
  cursor: pointer;
}
.logo-altran-1-icon {
  top: 413px;
  left: 782px;
  border-radius: 55px;
  width: 172px;
  height: 196px;
}
.logo-accenture-1-icon {
  top: 406px;
  left: 454px;
  width: 182px;
  height: 210px;
}
.logo-3-icon {
  position: absolute;
  top: 63px;
  left: 0;
  width: 206px;
  height: 107px;
  object-fit: cover;
}
.contact-div5 {
  position: absolute;
  top: 105px;
  left: 1237px;
  display: inline-block;
  cursor: pointer;
}
.home-1-icon3,
.load-3-icon {
  position: absolute;
  object-fit: cover;
}
.home-1-icon3 {
  top: 16px;
  left: 185px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.load-3-icon {
  top: 19.01px;
  left: 145.01px;
  width: 27px;
  height: 27px;
}
.accueil-div4 {
  position: absolute;
  top: 105px;
  left: 229px;
  display: inline-block;
  cursor: pointer;
}
.fleche-droite-5-icon,
.fleche-droite-6-icon {
  position: absolute;
  top: 16.01px;
  left: 88.01px;
  width: 39px;
  height: 34px;
  object-fit: cover;
}
.fleche-droite-6-icon {
  top: 16px;
  left: 41px;
  width: 39.02px;
  height: 34.02px;
}
.group-div2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1366px;
  height: 768px;
}
.div3 {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 768px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-family: Inter;
}
